<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiCnNNkjIxuBo2Bn6bQJ6qk2LXMBWNJWs</string>
	<key>GCM_SENDER_ID</key>
	<string>575976968432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.avia</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-ff5d1</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-ff5d1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575976968432:ios:46df79d4d2e8e6fdceb235</string>
</dict>
</plist>